[submodule "themes/noteworthy"]
	path = themes/noteworthy
	url = https://github.com/Slavaqq/hugo-theme-noteworthy.git
[submodule "public"]
	path = public
	url = https://github.com/slavaqq/slavaqq.github.io.git
	branch = master
[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/Slavaqq/ezhil.git
